@import '../../App.css';

.section {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.section--highlight {
  margin-top: 13rem;
}

.section__title {
  text-align: center;
  font-size: var(--heading-font);
  font-weight: 600;
  margin: 0;
  color: var(--dark-black-blue);
}

.section__contentContainer,
.section__image,
.section__textsContainer {
  width: 100%;
}

.section__image {
  display: block;
  margin: 3rem auto;
  max-width: 400px;
}

.section__image--desktop {
  display: none;
}

.section__contentContainer {
  position: relative;
  padding: 0 1.2rem;
}

.section--highlight .section__contentContainer {
  background: url('../../assets/bg-pattern-circles.svg') 50% top/100% no-repeat, var(--secondary-gradient);
  border-top-right-radius: var(--border-radius-section);
  border-bottom-left-radius: var(--border-radius-section);
  padding-top: 17rem;
  padding-bottom: 5rem;
}

.section--highlight .section__textsContainer * {
  color: var(--white)
}

.section--highlight .section__textsContainer h3 {
  font-size: var(--heading-font);
}

.section--highlight .section__image {
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%)
}

@media (min-width: 870px) {
  .section {
    margin: 8rem 0;
  }

  .section--highlight {
    margin-top: 18rem;
  }

  .section__title {
    margin-bottom: 3rem;
  }

  .section__contentContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
  }

  .section__contentContainer--reverse {
    flex-direction: row-reverse;
  }

  .section__textsContainer {
    flex-basis: 60%;
  }

  .section__image {
    flex-basis: 40%;
    transform: scale(1.5) translateX(-25%);
  }

  .section__contentContainer--reverse .section__image {
    transform: scale(1.5) translateX(25%);
  }

  .section__image--mobile {
    display: none;
  }

  .section__image--desktop {
    display: block;
  }

  .section--highlight .section__image {
    max-width: 500px;
  }
}